{% extends 'mainapp/base.html' %}

{% block content %}
    <h2><pre>
Авиор
Адара
Адхафера
Азеллюс Аустрали
Азеллюс Бореалис
Аин
Акамар
Акраб
Акрукс
Акубенс
Аламак
Алараф
Алатфар
Алголь
Алиот
Алкалуропс
Алула Аустралис
Алула Бореалис
Аль Данаб
Аль Фаварис
Аль-Ният
Альбалдах
Альбали
Альбирео
Альгениб
Альгиеба
Альгьеди
Альдафера
Альдебаран
Альдерамин
Альдиб
Альдибах
Алькаид
Алькес
Алькор
Альнаир
Альнасл
Альнилам
Альнитак
Альраи
Альриша
Альсафи
Альтаир
Альтарф
Альфард
Альфекка
Альфекка Меридиана
Альферац
Альфирк
Альхайот
Альхена
Альциона
Альчиба
Альшаин
Анкаа
Антарес
Аридед
Арктур
Арнеб
Арракис
Аспидиске
Астерион
Астеропа
Атлас
Ахернар
Ахирд
Ацимех
Бекрукс
Беллатрикс
Бенетнаш
Бетельгейзе
Бирдун
Ботейн
Брахиум
Васат
Вега
Везен
Везн
Виндемиатрикс
Гакрукс
Гиртаб
Гомейса
Гранатовая звезда
Граффиас
Дабих
Декрукс
Денеб
Денеб Альгеди
Денеб Дельфина
Денеб Кайтос
Денеб Кита
Денеб Эльокаб
Денебокаб
Денебола
Диадема
Дифда
Днокес
Дубхе
Духр
Дшубба
Завийява
Зосма
Зубен эль Акраб
Зубен эль Шемали or Zubeneschamali
Зубен эль Эльакриби
Зубен Эльгенуби
Ицар
Кабдилинан
Канопус
Капелла
Кастор
Каус Аустралис
Каф
Кеид
Кохаб
Краз
Ксора
Майя
Маркаб
Махасим
Мегрец
Мезартим
Менкар
Менкент
Мерак
Меропа
Миаплацидус
Мимоза
Минтака
Мира
Мирах
Мирфак
Мирцам
Мицар
Мулифен
Мусцида
Муфрид
Наккар
Нихал
Нусакан
Плейона
Поллукс
Преципуа
Проксима Центавра
Пропус
Процион
Пульхеррима
Рана
Рас Альгети
Рас Альхаге
Регул
Ригель
Ригель Кентаврус
Рукбах
Садира
Садр
Саргас
Сердце Карла
Сириус
Скат
Солнце
Спика
Сулафат
Тайгета
Талита Аустралис
Талита Бореалис
Танийа Аустралис
Танийа Бореалис
Таразед
Толиман
Тубан
Феркад
Фомальгаут
Фуруд
Хадар
Хамаль
Хассалех
Хедус
Хорт
Целено
Чара
Чертан
Шам
Шаула
Шеат
Шедар
Шелиак
Шератан
Эдасих
Электра
Эль-Нат
Этамин
Al Kalb al Rai
Al Kaphrah
Al Kurud
Al Minliar al Asad
Al Thalimain
Algorab
Alkurah
</pre></h2>
{% endblock %}